# Linear Regression with multiple variables

<img src="LR Multi.jpg">

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("homeprices.csv")
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [3]:
df.shape

(6, 4)

In [4]:
bedrooms = int(df.bedrooms.median())
bedrooms

4

In [5]:
df.bedrooms = df.bedrooms.fillna(bedrooms)

In [6]:
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [7]:
X = df.drop('price', axis=1)  
y = df['price']

In [8]:
from sklearn.model_selection import train_test_split  
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [9]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [10]:
model.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [11]:
model.coef_

array([    236.25, -175125.  ,  -19125.  ])

In [12]:
model.intercept_

843624.9999999985

In [13]:
predictions = model.predict([[2500,4,3]])

predictions

array([676375.])